/* footer */
#footer {
  position: relative !important;
  top: 0 !important;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 0 -3px 25px var(--footer-shadow-color);
}

#contact {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
}

#contact p {
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--text-color);
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

#contact p::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  height: 0.5px;
  width: 140px;
  background-color: var(--footer-line-color);
}

#contact p:after {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background-color: var(--footer-line-color);
  border: var(--footer-line-color) 1px solid;
  border-radius: 50%;
}

@media (max-width: 500px) {
  #footer #contact p:before {
    width: 75%;
  }
}

#contact .contact-icons,
#contact .contact-icons a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#contact .contact-icons a{
  margin: 0 10px;
}
#contact .contact-icons i {
  color: var(--footer-icons-color);
  font-size: 35px;
  margin: 15px;
}

.inner-footer {
  position: relative;
  line-height: 1.5;
  bottom: 0;
  text-align: center;
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  width: 100%;
  height: auto;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
}

.inner-footer .copyright {
  font-size: 15px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.copyright b {
margin-left: 5px;
}