<mat-toolbar color="primary" id="footer">
  <div id="contact">
    <div>
      <p>Contact</p>
    </div>
    <div class="contact-icons">
      <a mat-fab href="https://t.me/ahmed_abdo_571" target="_blank" title="Telegram">
        <i class="ri-telegram-line"></i>
      </a>
      <a mat-fab href="https://www.linkedin.com/in/ahmed-abdo-306259229" target="_blank" title="Linkedin">
        <i class="ri-linkedin-box-fill"></i>
      </a>
      <a mat-fab href="https://github.com/ahmedabdo404" target="_blank" title="Github">
        <i class="ri-github-fill"></i>
      </a>
      <a mat-fab href="https://ahmedabdo404.github.io/Ahmed-Abdo-WebSite" target="_blank" title="Website">
        <i class="ri-global-line"></i>
      </a>
    </div>
  </div>
  <div class="inner-footer">
    <span class="copyright">
      &copy; Copyright <b>Ahmed Abdo</b>
      . All Rights Reserved {{GetDate}}
    </span>
  </div>
</mat-toolbar>